/* $Id: arrows-rtl.css,v 1.1.1.1 2010/07/16 06:17:01 bhargav Exp $ */

ul.quicktabs_tabs.quicktabs-style-arrows{
  padding:0 0 0 10px!important;
  height:25px;
}

ul.quicktabs_tabs.quicktabs-style-arrows li{
  float:right;
}
