/* $Id: help-rtl.css,v 1.1.1.1 2010/06/25 06:06:11 bhargav Exp $ */

.help-items {
  float: right;
  padding-right: 0;
  padding-left: 3%;
}
.help-items-last {
  padding-right: 0;
  padding-left: 0;
}
