/* $Id: basic-rtl.css,v 1.1.1.1 2010/07/16 06:17:01 bhargav Exp $ */

.quicktabs_main.quicktabs-style-basic{
  border:1px solid #aaa;
}
ul.quicktabs_tabs.quicktabs-style-basic{
  border-bottom:none;
  padding:0 0 0 5px;
}
ul.quicktabs_tabs.quicktabs-style-basic li{
  float:right;
  margin:0 0 0 3px;
}
